*{
  box-sizing: border-box; margin:0; padding:0;
}

body{
  background-image: url('img/background.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

main{
  width: 70%;
  margin: auto;
}

header{
  position: relative;
  background-color: white;
}

.header-image > img{
  width: 100%;
  padding: 15px;
}

.header-image{
  position: relative;
}

.logo > img{
  width: 100%;
}

.logo{
  width: 40%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
nav{
  width: 100%;
}
.navbar{
  background-color: #524942;
  width:100%;
  height: 40px;
  color:white;
}

.nav-list{
  width: 100%;
  margin: auto;
  list-style-type:none;
  text-align:center;
  font-weight:300;

}

.nav-list-item{
  display: inline-block;
  margin: auto;
  padding: 10px 20px;
}

.nav-list-item:hover{
  background-color: #312C28;
}

.colonne{
  width: 100%;
  margin-top: 20px;
}

.colonne a{
  color:rgb(247, 176, 22);
}

.sidebar-left{
  width: 22%;
  background-color: white;
  text-align: center;
  float: left;
  padding: 10px;
}

.sidebar-left i{
  font-size: 25px;
}

.sidebar-left-list-item{
  display:block;
  padding:15px;
}

.colonne a:hover, .colonne li:hover{
  background-color: rgb(232, 232, 232);
  text-decoration: underline;

}

.sidebar-left-list{
  width: 100%;
  list-style-type: none;
}

.content{
  width: 53%;
  margin: 0 1%;
  float: left;
  background-color: white;
  text-align: center;
}

.content h2{
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 5px 5px 10px black;
}

.sidebar-right{
  width: 23%;
  float: left;
  }


.widget >*{
  padding: 15px;
}

.text-widget{
  background-color: white;
}

.recent-post{
  margin-top: 15px;
  background-color: white;
}
.recent-post-list-widget{
  list-style-type: none;
}

.recent-post-item-list-widget{
  padding: 10px 0;
}

.calendar{
  margin-top: 15px;
  background-color: white;
}


.clearfix:after{
  content="";
  display: table;
  clear: both;
}
